#user-menu{
	padding: 5px;
	background-color: white;
	border-radius: 4px;
	border:1px solid rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.user-page-header h1{
	letter-spacing: 1.5px;
	padding:5px 0 0 0 ;
	font-size: 1.3em;
	font-weight: 600;
	color: #01579B;
	margin:0;
}
.user-page-header{
	font-size: 2em;
	font-weight: 700;
	text-align: center;
	box-sizing: border-box;
	width: 96%;
	border-radius: 2px;
	margin:20px 2%; 
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

#thankmsg{
	padding:5px;
	font-size: 2em;
	font-weight: 700;
	text-align: center;
	box-sizing: border-box;
	width: 70%;
	border:1px solid #4CAF50;
	border-radius: 4px;
	margin:75px 15% 0 15%; 
}

#thankmsg h1{
	letter-spacing: 1.5px;
	padding:5px 0 0 0 ;
	font-size: 1em;
	font-weight: 600;
	background-color:white;
	color:#4CAF50;
	margin:0;
}

#thankmsg h3{
	letter-spacing: 1.5px;
	padding:5px 0 0 0 ;
	font-weight: 400;
	background-color:white;
	color:#4CAF50;
	margin:0;
}
#candidates-cards-container{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 0;
	overflow: hidden;
	border:1px solid rgba(0,0,0,0.1);
	width: 70%;
	margin:75px 15%;
}

#candidates-cards-container h2{
	margin:10px 0 20px 0;
	color:#01579B;
}
#candidates-cards-container img{
	padding: 10px;
}
#candidates-cards-container p{
	margin: 0 0 5px 0;
}

#candidates-cards-container form{
	margin:0;
	padding: 0;
}
.card {
	padding: 0;
	display: inline-block;
	width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 15px 4%;
    text-align: center;
}

.card-title {
    color: grey;
    font-size: 18px;
}

.vote-button {
	margin: 5px 0 0 0 ;
    border:1px solid #4CAF50;
    border-radius:4px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #4CAF50;
    background-color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

#candidates-cards-container a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.vote-button:hover{
    color: white;
    background-color: #4CAF50;
}

.vote-button:disabled{
	opacity: 0.5;
}

.vote-button:disabled:hover{
	cursor: not-allowed;
	border:1px solid #4CAF50;
	color: #4CAF50;
    background-color: white;


}

.user-profile-container input[type=text],input[type=password], input[type=email],select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
.user-profile-container label {
	
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
.user-profile-container input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.user-profile-container {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	display: none;
	width: 70%;
	margin:75px 15%;
  border-radius: 5px;
   padding:10px 20px;
}

/* Floating column for labels: 25% width */
.user-profile-container .col-25 {
	color: #4CAF50;
	font-size: 1.5em;
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.user-profile-container .col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.user-profile-container .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .user-profile-container .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}